
/*Revive*/
.map-region {
    border: 1px solid black;
    width: 50%; 
    height: 50%; 
    position: absolute;
    padding-top:10px;
    z-index: 1;
}

.map-region-enabled {
    cursor: pointer;
}

.map-region-disabled {
    cursor: no-drop;
    background-color: gray;
}

.map-region-selected {
    color: gold;
}

.map-div {
 position:relative;
  border: 1px solid black;
  height: 220px;
  font-size:
}

.mapRegionTitle {
    text-align: center;
    line-height: 100%; 
        font-weight: bold;
        padding-top: 20%;
        font-size:x-large;
}

.pushDown {
    margin-top:20px;
}

.categoryName {
    position:absolute; 
    height:25px; 
    text-align:center; 
    font-size:large; 
}

.divisionName {
    position:absolute; 
    height:25px; 
    font-size:large;
    margin-bottom:10px;
}

.team {
    position:absolute; 
    height:25px; 
}

.selectedTeam {
    background-color: gold;
}

.roundTeamIcon {
    position:absolute; 
    width: 45px;
    height:45px;
    border-radius: 45px;
    line-height:45px; 
    text-align: center;
}

ul{
  margin-left:-10px;
}

ul ul{
  margin-left:-20px;
}

ul ul ul{
  margin-left:-30px;
}

.link {
    font-size:larger;
}

li > a, div > a {
    color: inherit;
}

li > a:hover. div > a:hover, a:visited {
    color: inherit;
    text-decoration: none;
}
a { color: inherit; }
a:hover { color: inherit;
          text-decoration:none;
}

body {
    margin:40px;
}


.pageHeader {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .pageHeader {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .pageHeader {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .pageHeader {
    padding: 2rem 1rem; } }

